<h1> Welcome to your Bookmark Manager </h1>
<br>
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
    <a href="<%= bookmark.url %>">
    <%= bookmark.title %>
    </a>
    </li>
  <% end %>
</ul>

